<div class="row justify-content-between mb-4">
    <div class="col-4">    
        <h1>Editar Categoría</h1>
    </div>
    <div class="col-3 ms-5">
        <%= link_to categorias_path, class:"btn btn-primary rounded-pill" do %>
            <i class="bi bi-card-list"></i>
            Volver a Lista Categorías
        <% end %>
    </div>
</div>
<div class="fw-bolder">
    <%= render 'formulario', categoria: @categoria_nueva %>
</div>