/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 body {
     background-color: rgb(235, 235, 235);
 }

 .contenedor {
     position: relative;
     margin-top: 2rem;
 }

 .titulo-seccion {
     display: inline-block;
     vertical-align: middle;
 }

 .filas-tabla {
     margin: 0.2rem, 0, 0.2rem, 0;
     border-radius: 0.5rem;
 }

 .botones-links {
     margin-left: 27.5rem;
 }

 .filas-lista-categorias {
     width: 97.2%;
 }

 .boton-izquierda {
     margin: 0;
     border-start-start-radius: 1.5rem;
     border-end-start-radius: 1.5rem;
 }

 .boton-derecha {
     margin: 0;
     border-start-end-radius: 1.5rem;
     border-end-end-radius: 1.5rem;
 }



 .link-nombre-lista-productos {
     text-decoration: none;
     color: black;
 }
 
 .link-nombre-lista-productos:hover {
    text-decoration: none;
    color: #0d6efd;
 }

 

 .seccion-imagen-tarjetas {
    
    height: 18rem;
    
    
 }

 .imagen-tarjetas{
     position: relative;
     width: 98%;
     height: 98%;
     padding: 0;
     vertical-align: top;
     margin-left: 0.2rem;
     object-fit: scale-down;
 }

 .card-body {
     display: flex;
     flex-direction: column;
     position: relative;
     height: 15rem;

 }

 .precio {
     position: relative;
     margin-top: auto;
 }

 .descripcion {
    margin-top: auto;
    
    
 }